 <div class="container">
 <div class="row">
 {{#each boy}}
      <div class="col-md-3">
        <div class="card" >
  <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="baby dress">
  <div class="card-body">
    <h5 class="card-title">{{this.Name}}</h5>
    <p class="card-text">{{this.Description}}</p>
    <button onclick="addToCart('{{this._id}}')" href="/add-to-cart/{{this._id}}" class="btn btn-primary">ADD TO CART</button>
    

  </div>
 </div>
 </div>
 {{/each}}
 </div>
 </div>